<main>
  <section>
    <hero image="/assets/messages.png">
      Edit Series
    </hero>
    
    <p>
      Change the title of the series, upload an image, and modify sermons.
    </p>
  </section>

  <section class="white">
    <form *ngIf="series">
      <h3>Update Series</h3>

      <md-input-container>
        <input md-input
               disabled
               name="id"
               [(ngModel)]="series.id"
               placeholder="Series ID (immutable)" >
      </md-input-container>

      <md-input-container>
        <input md-input
               required
               name="name"
               [(ngModel)]="series.name"
               placeholder="Message Series Name" >
      </md-input-container>

      <md-input-container>
        <input md-input type="date" name="date" [(ngModel)]="series.date" placeholder="First Date of Series">
      </md-input-container>

      <md-checkbox name="active" [(ngModel)]="series.active">Active</md-checkbox>

      <md-input-container>
        <input md-input
               disabled
               name="image_ref"
               [(ngModel)]="series.image_ref"
               placeholder="Image (update below)" >
      </md-input-container>

      <label class="file-label">Upload new Image File: </label>
      <input name="new_image_ref" type="file" (change)="updateFile($event)"> 

      <h4>Sermons</h4>

      <md-list>

        <md-list-item *ngFor="let s of series.services; let i = index;">
          <md-input-container>
            <input md-input [name]="'sermon_name_' + i" [(ngModel)]="s.name" placeholder="Sermon Name">
          </md-input-container>
          <md-input-container>
            <input md-input type="date" [name]="'sermon_date_' + i" [(ngModel)]="s.date" placeholder="Date of Service">
          </md-input-container>
          <md-input-container>
            <input md-input [name]="'sermon_vimeo_id_' + i" [(ngModel)]="s.vimeo_id" placeholder="Vimeo ID">
          </md-input-container>
          <button md-mini-fab (click)="removeSermon(i)">
            <md-icon>remove</md-icon>
          </button>
        </md-list-item>

        <md-list-item class="new-sermon">
          <button class="add" md-mini-fab (click)="addSermon()">
            <md-icon>add</md-icon>
          </button>
        </md-list-item>
      </md-list>

      <div class="submit-wrapper">
        <observable-button class="save" (sda-click)="save()" [disabled]="!valid">Save</observable-button>
        <observable-button class="delete" (sda-click)="delete()">Delete</observable-button>
      </div>
    </form>
  </section>

</main>
<sda-footer></sda-footer>
