


a,button {
  &.bc-button {
    font-size: 18px;
    padding: 4px 22px;

    font-family: 'Roboto Condensed',sans-serif;
    font-weight: 400;

    icon {
      height: 28px;
      vertical-align: middle;
    }

    &-left {
      text-align: left;
      justify-content: left;
    }

    &-primary {
      background-color: $color-blue;
      &:hover:active {
        background-color: $color-blue * 0.7;
      }
    }

    &-flat {
      color: $color-grey-100;
    }

    &[disabled] {
      background-color: $color-grey-300;
    }
  }
}