@import '../article';
@import '../forms';

main section {

  &.types {
    padding: 27px 0;
  }

  p.subtitle {
    color: $color-black;
    flex: 100%;
    min-width: 0;
    max-width: none;
    text-align: center;
  }

  p.details {
    flex: 100%;
    min-width: 0;
    max-width: none;
    padding: 10px 40px;
  }

  dl {
    flex: 100%;
    display: flex;
    flex-flow: row wrap;
    margin: 0;

    dd {
      margin-left: 10%;
      flex: 20%;

      h3 {
        text-align: left;
        margin: 0;
        padding: 0px;
      }
    }
    dt {
      margin-left: 10%;
      flex: 50%;
      margin-right: 10%;
      margin-bottom: 15px;

      min-width: 300px;

      @include break(micro) { min-width: 200px; }
    }
  }

  form {
    margin-top: 35px;
    width: 70%;

    h3, h4 {
      text-align: left;
      margin: 0 5px 15px;
      padding: 0;
    }

    md-input-container, md-checkbox {
      margin: 5px;
    }

    div.submit-wrapper {
      margin-top: 20px;
      flex: 100%;
      text-align: center;
    }

    /deep/ {
      input.md-checkbox-input {
        appearance: none;
      }

      svg path {
        stroke: $color-black;
      }
    }

  }
}