<main>
  <section class="white">
    <hero image="/assets/serve/serve.jpg">
      &nbsp;
    </hero>

    <h1>Serve</h1>
    <p class="subtitle">
      &ldquo;&hellip; just as the Son of Man did not come to be served, but to serve, and to give his life as a ransom to many.&rdquo;
      Matthew 20:28
    </p>

    <p>
      It is our belief that to take on the mindset of Christ we must go and serve others. At Bolingbrook Church we want to make
      it easy and meaningful for you to find an opportunity to serve in our church, in our community, and in our world. A
      life full of service is to live a life full of purpose.
    </p>

    <div class="row">
      <a md-raised-button routerLink="./fusion">Fusion</a>
      <a md-raised-button routerLink="./setup">The Setup</a>
      <a md-raised-button routerLink="./media">Media</a>
      <a md-raised-button routerLink="./production">Production</a>
    </div>
  </section>
</main>