<main>
  <section class="white">
    <h1>MISSION</h1>
    <h4>Developing Christ-like disciples of all ages and peoples.</h4>

    <p>
      We exist to help people become fully committed Christ-like disciples. This is more than just lip-service. We are passionate
      about helping people understand exactly who Jesus was, what he was talking about nearly two thousand years ago, and
      what that means for their lives today.
    </p>

    <p>
      Our hope is that as they begin to understand his words, they begin to live it out in the everyday. We want them to be inspired
      to connect to other people who are trying to do the same, to serve others based on their passion, and to invite others
      to do the same by coming into their relationship with Jesus Christ.
    </p>
  </section>

  <section>
    <hero image="/assets/about/lightvision.png">
      VISION
    </hero>
    <h4>Creating spaces for the people God misses the most</h4>

    <p>
      The church we see goes far beyond the confines of church walls, but one that utilizes a multitude of spaces to create genuine
      relationships and facilitate growth. When we say spaces, we mean just that: houses of worship, schools, community centers,
      concert halls, art &amp; music centers you name it. We desire to create a multiplicity of spaces all over the world
      that make it possible for us to reach the ones God misses the most! For us, the people God misses the most are those
      who are far from having their own personal relationship with God.
    </p>
    <p>
      Whether that means they gave up on church, or have never really explored God for themselves, we believe that those are the
      people God misses so deeply. So, we seek to provide an embracing multicultural community where the people God misses
      the most can freely inquire of God, and explore what Jesus teaches as they walk at their own pace nearer to Him. We
      believe that once people feel they belong, they can become inspired to believe Jesus’ plan for their life and begin
      engaging the world as Jesus sees it.
    </p>

    <div class="row">
      <a md-raised-button href="http://www.adventist.org/beliefs/" (click)="believe()">Our Beliefs</a>
    </div>
  </section>
</main>
<sda-footer></sda-footer>