<sda-header></sda-header>
<main>
  <section class="white">
    <form>

      <h3>Get Connected</h3>

      <div class="form-group">
        <h4>Step 1: Tell us about yourself</h4>

        <md-input-container>
          <input mdInput
                required
                name="first_name"
                [(ngModel)]="request.first_name"
                placeholder="First Name" >
        </md-input-container>

        <md-input-container>
          <input mdInput
                required
                name="last_name"
                [(ngModel)]="request.last_name"
                placeholder="Last Name" >
        </md-input-container>

        <md-input-container>
          <input mdInput
                name="address"
                [(ngModel)]="request.address"
                placeholder="Address" >
        </md-input-container>


        <md-input-container>
          <input mdInput
                name="city"
                [(ngModel)]="request.city"
                placeholder="City" >
        </md-input-container>

        <md-select name="state"
                    [(ngModel)]="request.state"
                    placeholder="State">
          <md-option *ngFor="let state of states" [value]="state">{{ state }}</md-option>
        </md-select>

        <md-input-container>
          <input mdInput
                type="number"
                min="10000"
                max="99999"
                name="zipcode"
                [(ngModel)]="request.zipcode"
                placeholder="Zipcode" >
        </md-input-container>

        <md-input-container>
          <input mdInput
                type="date"
                name="birthday"
                [(ngModel)]="request.birthday"
                placeholder="Birthday" >
        </md-input-container>

        <md-input-container>
          <input mdInput
                required
                name="phone"
                type="tel"
                [(ngModel)]="request.phone"
                placeholder="Phone Number" >
        </md-input-container>

        <md-input-container>
          <input mdInput
                required
                name="email"
                type="email"
                [(ngModel)]="request.email"
                placeholder="Email Address" >
        </md-input-container>
      </div>

      <div class="form-group">
        <h4>Step 2. Get Involved</h4>

        <md-checkbox *ngFor="let key of typeKeys"
                    [name]="'interests_' + key"
                    [(ngModel)]="interests[key]">{{ types[key] }}</md-checkbox>

        <div class="submit-wrapper">
          <observable-button (sda-click)="submit()" [disabled]="!request.valid">
            Submit
          </observable-button>
        </div>
      </div>

    </form>
  </section>
</main>
