<main class="friends-and-family">
  <section class="white">

    <h1>Message</h1>
    <iframe src="https://player.vimeo.com/video/192183495" frameborder="0" allowfullscreen=""></iframe>

    <h1>Song of worship</h1>
    <iframe src="https://player.vimeo.com/video/192185723" frameborder="0" allowfullscreen=""></iframe>

    <h1>Worshiping with Family on the Sabbath</h1>

    <h5>Focus on Rest and Restoration</h5>
    <p>
      <strong>Plan ahead:</strong> This day is a where we are allowed to celebrate our time with God. So for a whole week
      prior to the Sabbath, plan out what you all will be doing. Make it a huge event, push for it in the home, and get the
      excitement about this day up. Make it something that your family will look forward to.
    </p>
    <p>
      <strong>Be Creative:</strong> Don’t just nap the day away. Spend it with Family and Friends and stretch your creative
      side and make ways that will keep your mind on God and love His people.
    </p>
    <p>
      <strong>Spread Love:</strong> Whether it is with just you and your family or if it is with the people around your town
      or city, make sure that they all know that God has sent you out to love them.
    </p>

    <h3>Here are some great ways to spend your Sabbath with your Family and Friends</h3>
    <p>
      <strong>Turn Your House into a Space for Worship:</strong> Gather your family together at home and discuss a lesson.
      This can be the sermon from last week, the current sermon series, or past series. Invite people who wouldn’t normally
      come to church to your home. This is a perfect opportunity to reach out to people that God misses the most.
    </p>
    <p>
      You can start your day of worship at your home and then do other activities for the rest of the day. Here are a few you can
      do!
    </p>
    <p>
      <strong>Nature Walk:</strong> Get some energy bars, Water, Your Bible and maybe even a hymnal. Head out to enjoy creation
      with the family. Worship outside together. Reading a devotional, sharing a thought, and spending time in prayer. Create
      a list of wildlife to look out for and identify. Make it a challenge to find each one on the list.
    </p>
    <p>
      <strong>Day Camping Trip:</strong> turn off your phones, leave your tablets behinds, and put work on hold for the whole
      day. If your family has a thing for the outdoors, then pack up your tents and sleeping bags to spend a rest filled
      day with the Lord and his creation.
    </p>
    <p>
      <strong>Ministry Brainstorm:</strong> Get together with friends and family and figure out ways that you all can come
      together and help do ministry at Bolingbrook Church! Think of new ways to reach others and share your great ideas with
      leaders at church!
    </p>
    <p>
      <strong>Cook:</strong> Friday afternoon before Sabbath starts, prepare meals for Saturday. Celebrate the Sabbath with
      a feast that your family and friends can all enjoy!
    </p>
    <p>
      <strong>Outreach to others:</strong> make food and give it out to people who are shut in on Sabbath. Spend time with
      the people who need aid
    </p>
    <p>
      Nursing home/Hospital visits.
    </p>
    <p>
      Visit someone from church you haven’t seen in a while.
    </p>
    <p>
      <strong>Prayer:</strong> Spend time in prayer with your family. Schedule times where you will gather together as a
      family and offer up prayer requests and or praises that you want each other to hear. This is a great way to have the
      opportunity to open up to your family and vice versa.
    </p>
    <p>
      <strong>Head to a Museum:</strong> look at the things that are a part of history and see how God has worked in those
      situations.
    </p>
    <p>
      <strong>Read stories:</strong> read through Bible Stories, Mission Stories, or stories in a Christian Magazine and
      see how God is working in the lives of other people.
    </p>
    <p>
      <strong>Can Collecting:</strong> Go around your neighborhood and gather canned goods and other non-perishables that
      can be donated to Bolingbrook Church Food Pantry.
    </p>
    <p>
      <strong>Visit the Homeless in the City:</strong> People without homes are still as much God’s children as you and me!
      So show them support and love by giving them a bag full of essential living supplies or even a meal.
    </p>
    <p>
      <strong>Soup Kitchens:</strong> Volunteer as a family at a soup kitchen and help feed those who are less fortunate
      and let them know that God still watches over them.
    </p>
    <p>
      <strong>Offer your Services for Free:</strong> If you don’t feel comfortable making a profit on the Sabbath but you
      love what you do, then do it for free! This is a great way to evangelize to those in the community or on your client
      list.
    </p>
    <p>
      <strong>Schedule a day at Feed My Starving Children:</strong> This is a great way to get involved with sending out
      love to people who live half way around the globe and are in need of food! This is a great Christian organization that
      benefits children all over the globe!
    </p>

  </section>

</main>