<sda-header></sda-header>
<main>
  <section class="white">

    <hero image="/assets/giving/givingpic.jpg">
      &nbsp;
    </hero>
    <h1>Your Generosity is Making a Difference.</h1>

    <p class="wide">
      We know your giving changes lives. The people God misses the most are constantly being reached because of your incredible
      generosity. At Bolingbrook Church, we want to make acting on your generosity rather simple.
    </p>

    <div class="row">
      <a md-raised-button href="http://www.easytithe.com/dl/?uid=boli301244t7" (click)="give()">Give Online</a>
    </div>
  </section>

  <section>
    <hero image="/assets/giving/giving2-e1443270113333.jpg">
      &nbsp;
    </hero>
    <h1>Tithing is the beginning of giving</h1>

    <p>
      The Bible talks of tithing as the beginning point for giving. The word tithe literally means a tenth, that is 10% of our
      income. When we give the first 10% of our income to the church, we put God first in our lives and we help spread the
      story of His love. In fact, tithing is more than just giving something to God, it is giving back to God what He already
      gave to us. Of course, there is no way we can ever repay God for the ultimate gift of His Son on the cross, but in
      tithing we begin to express our gratitude, trust, and worship to Him who has given us all.
    </p>
    <p>
      Moreover, our tithe helps support the global mission of the Seventh Day Adventist church and its Pastors.
    </p>

    <div class="row">
      <a md-raised-button href="http://www.easytithe.com/dl/?uid=boli301244t7" (click)="give()">Give Online</a>
    </div>
  </section>

  <section class="white">
    <hero image="/assets/giving/Untitled-1.png">
      &nbsp;
    </hero>
    <h1>Your Offering Helps Create Spaces for the People God misses the Most.</h1>

    <p class="wide">
      We are all called to be change agents in some way. When you give an offering to our local church it continues to fuel change
      in the lives of so many we serve on a weekly basis. Your offering makes our vision possible to see God work through
      a variety of spaces to reach the ones God misses the most.
    </p>

    <div class="row">
      <a md-raised-button href="http://www.easytithe.com/dl/?uid=boli301244t7" (click)="give()">Give Online</a>
    </div>
  </section>

  <section>
    <hero image="/assets/giving/giving3-e1443209170714.jpg">
      &nbsp;
    </hero>

    <div class="col">
      <h3>More Opportunities to Give</h3>

      <h5>Food Pantry</h5>
      <p>
        The Bolingbrook Church Food Pantry has helped hundreds of families since its beginning. The number of families that receive
        groceries each month continues to grow. Join us in serving our community as many are facing difficult financial circumstances.
      </p>
      <div class="row">
        <a md-raised-button href="http://www.easytithe.com/dl/?uid=boli301244t7" (click)="give()">Give Online</a>
      </div>

      <h5>Crest Hill Christian School</h5>
      <p>
        The Crest Hill Christian School is one of our newest spaces in fulfilling the vision to reach the ones God misses the most.
        Our School exists to show children Jesus, nurture their love for Him and others, teach them to think, and empower
        them to serve. Join us in supporting our school.
      </p>
      <div class="row">
        <a md-raised-button href="http://www.easytithe.com/dl/?uid=boli301244t7" (click)="give()">Give Online</a>
      </div>

      <h5>Go &amp; Tell</h5>
      <p>
        If you’ve ever felt called by God to help plant a new church or help make more disciples, then this may be your opportunity.
        Go &amp; Tell funds help the Illinois Conference plant new churches throughout Illinois and give existing churches
        like ours more resources to spread the good news of God’s love.
      </p>
      <div class="row">
        <a md-raised-button href="http://www.easytithe.com/dl/?uid=boli301244t7" (click)="give()">Give Online</a>
      </div>
    </div>

    <div class="col">
      <h3>More ways to Give</h3>

      <h5>On Campus</h5>
      <p>
        You can give your gifts in person using cash or check.
      </p>

      <h5>Online Giving</h5>
      <p>
        With just a click you are able to schedule your giving, review your history, make pledges, update your contact information,
        and much more.
      </p>

      <div class="row">
        <a md-raised-button href="http://www.easytithe.com/dl/?uid=boli301244t7" (click)="give()">Give Online</a>
      </div>

      <h5>Text</h5>
      <p>
        Text the amount of your gift to <a href="tel:6302464885" class="tel">630-246-4885</a>
      </p>

      <h5>Mail</h5>
      <p>
        You can always mail a check to our church offices:
      </p>
      <p class="address">
        Bolingbrook Church
        301 E Boughton Rd
        Bolingbrook IL 60440
      </p>
    </div>
  </section>
</main>
