<main [class.visible]="streaming">
  <ustream (live)="streaming = true" (offline)="streaming = false"></ustream>
  <sda-footer></sda-footer>
</main>

<div class="overlay" [class.hidden]="streaming">
  <div class="shadow">
    <h1 *ngIf="!marchMadnessActive">Creating Spaces for the People God Misses the Most</h1>
    <h1 *ngIf="marchMadnessActive" class="madness">
      <a routerLink="/madness">MARCH MADNESS</a><br />
      Please Say Yes!
    </h1>

    <div *ngIf="!marchMadnessActive" class="navs">
      <a md-button routerLink="/about">Our Story</a>
      <a md-button routerLink="/connect">Connect</a>
      <a md-button routerLink="/giving">Giving</a>
      <a md-button routerLink="/messages">Messages</a>
      <a md-button routerLink="/locations">Locations</a>
    </div>
    <div *ngIf="marchMadnessActive" class="navs">
      <a md-button class="madness" routerLink="/serve/fusion">Fusion</a>
      <a md-button class="madness" routerLink="/serve/ask">Ask Me Anything</a>
      <a md-button class="madness" routerLink="/serve/media">Media</a>
      <a md-button class="madness" routerLink="/serve/children">Children's Ministries</a>
    </div>

  </div>
  <video *ngIf="!mobile" autoplay loop>
    <source *ngFor="let source of sources"
            [src]="source.url"
            [type]="source.type" />
  </video>
  <div *ngIf="mobile" class="mobile-bg">
  </div>
  
</div>