@import 'article';
@import '../atoms/breaks';

h3 {
  text-align: left !important;
}

/* Overrides to keep the iframes in the larger size as long as possible */
main section div.col {
  @include break(medium)  { min-width: 430px; }
  @include break(small)   { min-width: 430px; }
  @include break(tiny)    { min-width: 430px; }
}

div.wrapper {
  padding: 15px;

  iframe {
    width: 100%;
    height: 400px;
  }
}