<main>
  <section class="white">
    <h1>Locations</h1>

    <div class="col">
      <h3>Service Location</h3>
      <p class="address">
        Our Services are held at:
        1251 Windham Pkwy
        Romeoville, IL 60446
      </p>

      <div class="wrapper">
        <iframe frameborder="0"
                allowfullscreen
                [src]="service_ref"></iframe>
      </div>
    </div>

    <div class="col">
      <h3>Office Location</h3>
      <p class="address">
        Our offices are located at:
        301 E Boughton Rd,
        Bolingbrook, IL 60440
      </p>

      <div class="wrapper">
        <iframe frameborder="0"
                allowfullscreen
                [src]="office_ref"></iframe>
      </div>
    </div>
  </section>
</main>
<sda-footer></sda-footer>
