<main>
  <section>
    <hero image="/assets/mission/costa-rica.jpg">
      &nbsp;<br/>&nbsp;
    </hero>

    <h1>Costa Rica Mission Trip 2017</h1>

    <p>
      Dear Volunteer,
      <br/><br/>
      Thank you so much for your interest in the Bolingbrook Church Costa Rica Mission Trip. We’re so excited to have you on board!
      Your talents, heart for service, and love for Christ will be crucial to making this trip a reality. In this packet, you
      will find detailed information about the trip, an application form, and support letter. We look forward to serving with
      you!
      <br/><br/>
      Bolingbrook Missions Team
    </p>
  </section>

  <section class="white">
    <form>

      <h3>Sign Up</h3>

      <div class="form-group">
        <h4>Connection Information</h4>

        <md-input-container>
          <input md-input
                required
                name="first_name"
                [(ngModel)]="request.first_name"
                placeholder="First Name" >
        </md-input-container>

        <md-input-container>
          <input md-input
                required
                name="last_name"
                [(ngModel)]="request.last_name"
                placeholder="Last Name" >
        </md-input-container>

        <md-input-container>
          <input md-input
                name="address"
                [(ngModel)]="request.address"
                placeholder="Address" >
        </md-input-container>


        <md-input-container>
          <input md-input
                name="city"
                [(ngModel)]="request.city"
                placeholder="City" >
        </md-input-container>

        <md-select name="state"
                    [(ngModel)]="request.state"
                    placeholder="State">
          <md-option *ngFor="let state of states" [value]="state">{{ state }}</md-option>
        </md-select>

        <md-input-container>
          <input md-input
                type="number"
                min="10000"
                max="99999"
                name="zipcode"
                [(ngModel)]="request.zipcode"
                placeholder="Zipcode" >
        </md-input-container>

        <md-input-container>
          <input md-input
                required
                name="phone"
                type="tel"
                [(ngModel)]="request.phone"
                placeholder="Phone Number" >
        </md-input-container>

        <md-input-container>
          <input md-input
                required
                name="email"
                type="email"
                [(ngModel)]="request.email"
                placeholder="Email Address" >
        </md-input-container>

        <md-select name="tshirt"
                    [(ngModel)]="request.tshirt"
                    placeholder="T-Shirt Size">
          <md-option value="Small">Small</md-option>
          <md-option value="Medium">Medium</md-option>
          <md-option value="Large">Large</md-option>
          <md-option value="Extra Large">Extra Large</md-option>
        </md-select>
      </div>

      <div class="form-group">
        <h4>Gifts / Interests</h4>

        <md-checkbox *ngFor="let key of typeKeys"
                    [name]="'interests_' + key"
                    [(ngModel)]="interests[key]">{{ types[key] }}</md-checkbox>
      </div>

      <div class="form-group">
        <h4>Accommodations</h4>

        <md-select name="vegetarian"
                    [(ngModel)]="request.vegetarian"
                    placeholder="Are you a vegetarian?">
          <md-option value="Yes">Yes</md-option>
          <md-option value="No">No</md-option>
        </md-select>

        <md-select name="couples"
                    [(ngModel)]="request.couples"
                    placeholder="Require Couples Room?">
          <md-option value="Yes">Yes</md-option>
          <md-option value="No">No</md-option>
        </md-select>

        <md-input-container>
          <input md-input
                name="spouse"
                [(ngModel)]="request.spouse"
                placeholder="If yes, what is your spouse’s name?" >
        </md-input-container>

      </div>

      <div class="form-group">
        <h4>Emergency Contact</h4>

        <md-input-container>
          <input md-input
                required
                name="emergency__first_name"
                [(ngModel)]="request.emergency.first_name"
                placeholder="First Name" >
        </md-input-container>

        <md-input-container>
          <input md-input
                required
                name="emergency__last_name"
                [(ngModel)]="request.emergency.last_name"
                placeholder="Last Name" >
        </md-input-container>

        <md-input-container>
          <input md-input
                name="emergency__address"
                [(ngModel)]="request.emergency.address"
                placeholder="Address" >
        </md-input-container>


        <md-input-container>
          <input md-input
                name="emergency__city"
                [(ngModel)]="request.emergency.city"
                placeholder="City" >
        </md-input-container>

        <md-select name="emergency__state"
                    [(ngModel)]="request.emergency.state"
                    placeholder="State">
          <md-option *ngFor="let state of states" [value]="state">{{ state }}</md-option>
        </md-select>

        <md-input-container>
          <input md-input
                type="number"
                min="10000"
                max="99999"
                name="emergency__zipcode"
                [(ngModel)]="request.emergency.zipcode"
                placeholder="Zipcode" >
        </md-input-container>

        <md-input-container>
          <input md-input
                required
                name="emergency__phone"
                type="tel"
                [(ngModel)]="request.emergency.phone"
                placeholder="Phone Number" >
        </md-input-container>

        <md-input-container>
          <input md-input
                required
                name="emergency__email"
                type="email"
                [(ngModel)]="request.emergency.email"
                placeholder="Email Address" >
        </md-input-container>
      </div>

      <div class="submit-wrapper">
        <observable-button (sda-click)="submit()" [disabled]="!request.valid">
          Submit
        </observable-button>
      </div>

    </form>
  </section>
</main>
<sda-footer></sda-footer>
