div {
  background-color: #ffffff;
  color: #000000;
  text-align: center;
  padding: 150px 0;

  h1 {
    font-weight: 600;
    font-size: 52px;
    color: #ccc;
  }

  img {
    max-width: 100%;
    max-height: 100%;
  }
}

