@import 'article';

main section div.row {
  display: flex;

  a.push {
    padding-top: 17px;
    flex: 100%;
    margin: 0 10%;

    img {  max-width: 100%; }
  }

  a.button {
    margin: 15px auto 0;
  }
}
