@import '../atoms/headers';
@import '../atoms/colors';

main {

  background-image: url('/assets/public-love-church.jpg');
  background-position: center;
  background-size: cover;
  padding: 15px 50px 50px;

  p {
    text-shadow: 1px 1px 5px $color-black;
  }
}