/* Included as Global Styling, do not import into individual components */
@import '../atoms/colors';
@import '../atoms/breaks';

@mixin formPart() {
  flex: 1 1 auto;
  min-width: 350px;
  margin: 5px;

  @include break(tiny)  { min-width: 280px; }
  @include break(micro) { min-width: 200px; }
}

form {
  display: flex;
  flex-flow: row wrap;
  padding: 30px;
  margin-bottom: 30px;
  background: $color-grey-500;
  max-width: 900px;

  h1, h2, h3, h4, h5, h6 {
    flex: 100%;
  }

  md-input-container {
    @include formPart();

    &.wide {
      flex: 100%;
    }

    input[md-input] {
      color: $color-black;
    }
  }

  md-checkbox {
    @include formPart();
  }

  md-select.mat-select {
    @include formPart();
    padding-top: 9px;
    height: 45px;
    font-family: 'Comfortaa', cursive !important;
  }
}