<sda-header [image]="hero_ref" shade="0.4" relativeHeight="0.4">
  <h1>{{ title }}</h1>
</sda-header>
<main>
  <section class="white">
    <p *ngIf="subtitle" class="subtitle">
      {{ subtitle }}
    </p>

    <p *ngFor="let detail of details" class="details">
      {{ detail }}
    </p>
  </section>

  <section class="types">
    <dl *ngFor="let type of typesArray">
      <dd><h3>{{ type.name }}</h3></dd>
      <dt>
        {{ type.description }}
      </dt>
    </dl>
  </section>

  <section class="white" *ngIf="secondaryDetails">
    <p *ngFor="let detail of secondaryDetails" class="details">
      {{ detail }}
    </p>
  </section>

  <section class="white" *ngIf="signupLink">
      <a md-raised-button [href]="signupLink" (click)="clickSignupLink()">Fill Out an Application</a>
  </section>

  <section class="white" *ngIf="!signupLink">
    <form>

      <h3>Register Here</h3>

      <md-input-container>
        <input mdInput
               required
               name="first_name"
               [(ngModel)]="request.first_name"
               placeholder="First Name" >
      </md-input-container>

      <md-input-container>
        <input mdInput
               required
               name="last_name"
               [(ngModel)]="request.last_name"
               placeholder="Last Name" >
      </md-input-container>

      <md-input-container>
        <input mdInput
               required
               name="phone"
               type="tel"
               [(ngModel)]="request.phone"
               placeholder="Phone Number" >
      </md-input-container>

      <md-input-container>
        <input mdInput
               required
               name="email"
               type="email"
               [(ngModel)]="request.email"
               placeholder="Email Address" >
      </md-input-container>

      <h4>Choose a Team</h4>

      <md-checkbox *ngFor="let key of typeKeys"
                   [name]="'interests_' + key"
                   [(ngModel)]="interests[key]">{{ types[key].name }}</md-checkbox>

      <div class="submit-wrapper">
        <observable-button (sda-click)="submit()" [disabled]="!request.valid">
          Submit
        </observable-button>
      </div>

    </form>
  </section>
</main>
