<bc-header [image]="hero_ref" shade="0.4" relativeHeight="0.4">
  <h1>{{ title }}</h1>
</bc-header>
<main>
  <section class="white">
    <div class="content">
      <p *ngIf="subtitle" class="subtitle">
        {{ subtitle }}
      </p>
      
      <p *ngFor="let detail of details">
        {{ detail }}
      </p>
    </div>
  </section>

  <section class="types">
    <div class="content">
      <div *ngFor="let type of typesArray">
        <h3>{{ type.name }}</h3>
        <p>
          {{ type.description }}
        </p>
      </div>
    </div>
  </section>

  <section class="white" *ngIf="secondaryDetails">
    <div class="content">
      <p *ngFor="let detail of secondaryDetails" class="details">
        {{ detail }}
      </p>
    </div>
  </section>

  <section class="white" *ngIf="signupLink">
    <div class="content">
      <a mat-raised-button class="center" [href]="signupLink" (click)="clickSignupLink()">Fill Out an Application</a>
    </div>
  </section>

  <section class="white" *ngIf="!signupLink">
    <form>

      <h3>Register Here</h3>

      <mat-form-field>
        <input matInput
               required
               name="first_name"
               autocomplete="given-name"
               [(ngModel)]="request.first_name"
               placeholder="First Name" >
      </mat-form-field>

      <mat-form-field>
        <input matInput
               required
               name="last_name"
               autocomplete="family-name"
               [(ngModel)]="request.last_name"
               placeholder="Last Name" >
      </mat-form-field>

      <mat-form-field>
        <input matInput
               required
               name="phone"
               type="tel"
               autocomplete="tel-national"
               [(ngModel)]="request.phone"
               placeholder="Phone Number" >
      </mat-form-field>

      <mat-form-field>
        <input matInput
               required
               name="email"
               type="email"
               autocomplete="email"
               [(ngModel)]="request.email"
               placeholder="Email Address" >
      </mat-form-field>

      <h4>Choose a Team</h4>

      <mat-checkbox *ngFor="let key of typeKeys"
                   [name]="'interests_' + key"
                   [(ngModel)]="interests[key]">{{ types[key].name }}</mat-checkbox>

      <div class="submit-wrapper">
        <bc-observable-button (bcOnClick)="submit()" [disabled]="!request.valid">
          Submit
        </bc-observable-button>
      </div>

    </form>
  </section>
</main>
