$break-large: 1200px;
$break-medium: 992px;
$break-small: 768px;

@mixin break($media) {
  @if $media == large {
    @media only screen and (min-width: $break-large) { @content; }
  } @else if $media == medium {
    @media only screen and (min-width: $break-medium) and (max-width: $break-large - 1) { @content; }
  } @else if $media == small {
    @media only screen and (min-width: $break-small) and (max-width: $break-medium - 1) { @content; }
  } @else if $media == tiny {
    @media only screen and (max-width: $break-small - 1) { @content; }
  }
}