
$color-black: #000000;
$color-white: #ffffff;

$color-grey-000: #1c1c1c;
$color-grey-100: #252525;
$color-grey-200: #6d6b6b;
$color-grey-300: #8a8a8a;
$color-grey-400: #c8c8c8;

$color-grey-400-fade: transparentize($color-grey-400, 0.8);

$color-blue: #286090;
