/* Included as Global Styling, do not import into individual components */
@import url('https://fonts.googleapis.com/css?family=Comfortaa:300|Khand|Roboto+Condensed:300:400');
@import './breaks';

html, body {
  font-family: 'Comfortaa', cursive;
}

/* Call to Action */
a[href], button, .mat-button, .mat-raised-button, .mat-icon-button {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;

  &.light {
    font-weight: 300;
  }
}

/* Headers */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Khand', sans-serif;
  font-weight: 400;
}

h1 {
  font-size: 65px;
  margin: 1em 0 .5em;

  @include break(medium)  { font-size: 55px; }
  @include break(small)   { font-size: 45px; }
  @include break(tiny)    { font-size: 38px; }
  @include break(micro)   { font-size: 36px; }
}

h2 {
  font-size: 41px;
  margin: 1em 0 .5em;

  @include break(small)   { font-size: 37px; }
  @include break(tiny)    { font-size: 29px; }
  @include break(micro)   { font-size: 27px; }
}

h3 {
  font-size: 27px;
  margin: 1em 0 .5em;

  @include break(small)   { font-size: 23px; }
  @include break(tiny)    { font-size: 23px; }
  @include break(micro)   { font-size: 21px; }
}

h4 {
  font-size: 19px;
  margin: 1em 0 .5em;

  @include break(small)   { font-size: 17px; }
  @include break(tiny)    { font-size: 17px; }
  @include break(micro)   { font-size: 16px; }
}

h5 {
  font-size: 16px;
  margin: 1em 0 .5em;
}