/* Included as Global Styling, do not import into individual components */
@import url('https://fonts.googleapis.com/css?family=Comfortaa:300|Khand|Roboto+Condensed:300:400');
@import './breaks';
@import './socicon';

html, body {
  font-family: 'Comfortaa', cursive;
}

/* Call to Action */
a[href], button, .mat-button, .mat-raised-button, .mat-icon-button {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;

  &.light {
    font-weight: 300;
  }
}

/* Headers */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Khand', sans-serif;
  font-weight: 400;
  margin: .5em 0;
}

h1 {
  font-size: 65px;
  margin: 1em 0 .5em;

  @include break(medium)  { font-size: 55px; }
  @include break(small)   { font-size: 50px; }
  @include break(tiny)    { font-size: 45px; }
  @include break(micro)   { font-size: 40px; }
}

h2 {
  font-size: 55px;
  @include break(small)   { font-size: 50px; }
  @include break(tiny)    { font-size: 45px; }
  @include break(micro)   { font-size: 40px; }
}

h3 {
  font-size: 45px;
  @include break(small)   { font-size: 38px; }
  @include break(tiny)    { font-size: 34px; }
  @include break(micro)   { font-size: 30px; }
}

h4 {
  font-size: 32px;
  @include break(small)   { font-size: 28px; }
  @include break(tiny)    { font-size: 26px; }
  @include break(micro)   { font-size: 24px; }
}

h5 {
  font-size: 25px;
}