<sda-header></sda-header>
<main>
  <section class="video">
    <iframe *ngIf="sermon && sermon.youtube && !ustream"
            [src]="youtube_url"
            frameborder="0"
            webkitallowfullscreen=""
            mozallowfullscreen=""
            allowfullscreen="">
    </iframe>

    <ustream *ngIf="ustream"></ustream>

    <div class="data" *ngIf="sermon">
      <h2>{{ sermon.name }}</h2>
      <h3>{{ sermon.series }}</h3>
      <h3>{{ sermon.date | date: 'MMMM d, yyyy' }}</h3>
    </div>

    <div class="error" *ngIf="error">
      <h2>Not Found</h2>
      <p>
        We could not find that sermon, please try again from the list below.
      </p>
    </div>


  </section>    

  <section class="more">
    <h3>More Sermons</h3>

    <sermon-list></sermon-list>
  </section>
</main>
