<bc-header></bc-header>
<main>
  <section class="video">
    <iframe *ngIf="showYoutube"
            id="sermonVideo"
            [src]="youtube_url"
            frameborder="0"
            webkitallowfullscreen=""
            mozallowfullscreen=""
            allowfullscreen="">
    </iframe>

    <bc-ustream *ngIf="showUstream"></bc-ustream>

    <div class="data" *ngIf="sermon">
      <div *ngIf="sermon.image" class="icon" [style.background-image]="icon"></div>
      <div class="text">
        <div class="title">{{ sermon.series }}</div>
        <div class="speaker">{{ sermon.speaker }}</div>
      </div>
      <span class="date">{{ sermon.date | date:'longDate' }}</span>
    </div>

    <div class="error" *ngIf="error">
      <h2>Not Found</h2>
      <p>
        We could not find that sermon, please try again from the list below.
      </p>
    </div>


  </section>    

  <section class="more">
    <h3>More Sermons</h3>

    <bc-sermon-list></bc-sermon-list>
  </section>
</main>
