<bc-header></bc-header>
<main>
  

  <section class="video">

    <div class="video" *ngFor="let service of services">
      <iframe *ngIf="service.url"
              [src]="service.url"
              frameborder="0"
              webkitallowfullscreen=""
              mozallowfullscreen=""
              allowfullscreen="">
      </iframe>
    </div>

    <div class="data" *ngIf="sermon">
      <div class="text">
        <div class="title">{{ sermon.title }}</div>
        <div class="speaker">{{ sermon.speaker }}</div>
      </div>
      <span class="date">{{ sermon.date | date:'longDate' }}</span>
    </div>

    <div class="error" *ngIf="error">
      <h2>Not Found</h2>
      <p>
        We could not find that sermon, please try again from the list below.
      </p>
    </div>


  </section>    

  <section class="more">
    <h3>More Sermons</h3>

    <bc-sermon-list></bc-sermon-list>
  </section>
</main>
