<bc-header></bc-header>
<main>
  <section class="white">
    <h1>Administration</h1>
    <p>
      Welcome to the admin portal for the Bolingbrook Church. From here you can manage sermons.
    </p>

    <div *ngIf="!authd" class="row links">
      <a mat-raised-button (click)="login()">Login</a>
    </div>

    <div *ngIf="authd" class="row links">
      <a mat-raised-button [routerLink]="['./series']">Edit Series</a>
      <a mat-raised-button [routerLink]="['./sermons']">Edit Sermons</a>
      <a mat-raised-button (click)="logout()">Logout</a>
    </div>
  </section>
</main>
