<bc-header image="/assets/messages.png" shade="0.4" relativeHeight="0.4">
  <h2>Edit Series</h2>
</bc-header>
<main>
  <section>
    <div class="content">
      <p>
        Change the title and image of the series.
      </p>
    </div>
  </section>

  <section class="white">
    <form>
      <h4>Series</h4>

      <mat-list>

        <mat-list-item *ngFor="let s of series; let i = index;">
          <mat-form-field>
            <input matInput [name]="'series_name_' + i" [(ngModel)]="s.name" placeholder="Name" [disabled]="s.url">
          </mat-form-field>

          <img *ngIf="s.url" [src]="s.url" />

          <button *ngIf="!s.url" mat-mini-fab class="add" (click)="imgFileInput.click()" [disabled]="!valid(s)">
            <mat-icon>file_upload</mat-icon>
          </button>
          <input hidden type="file" #imgFileInput (change)="attachFile($event, s)">
          
          <button mat-mini-fab (click)="removeSeries(s)">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-list-item>

        <mat-list-item class="new-series">
          <button class="add" mat-mini-fab (click)="addSeries()">
            <mat-icon>add</mat-icon>
          </button>
        </mat-list-item>
      </mat-list>
    </form>
  </section>

</main>
