form {
  margin-top: 10px;

  md-input-container {
    flex: 100%;
  }

  label.file-label {
    margin: 0 11px;
  }

  h4 {
    margin-top: 23px !important;
  }

  md-list {
    flex: 100%;
    margin-bottom: 25px;

    img {
      max-width: 45px;
    }

    md-input-container {
      min-width: 0;
    }

    button.add {
      background-color: #009688;
    }
  }

  div.submit-wrapper {
    flex: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

    observable-button {
      flex: 1 1 auto;
      max-width: 230px;
      margin: 13px;
    }
  }
}

md-list-item.new-series /deep/ div.md-list-item {
  justify-content: flex-end;
}