

form {
  margin-top: 10px;

  label.file-label {
    margin: 0 11px;
  }

  h4 {
    margin-top: 23px !important;
  }


  mat-accordion {
    flex: 100%;
    margin-bottom: 25px;

    mat-panel-title {
      min-width: 85px;
    }

    mat-form-field, mat-select {
      flex: 1;
      min-width: 0;
    }

    div.command-row {
      display: flex;
      flex-flow: row nowrap;
      flex-direction: row-reverse;

      button {
        margin: 0 5px;
      }
    }

    button.add {
      background-color: #009688;
    }
  }

  div.submit-wrapper {
    flex: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

    observable-button {
      flex: 1 1 auto;
      max-width: 230px;
      margin: 13px;
    }
  }
}

mat-list-item.new-sermon /deep/ div.mat-list-item {
  justify-content: flex-end;
}

div.icon {
  display: inline-block;
  vertical-align: middle;
  width: 31px;
  height: 31px;
  background-size: cover;
  background-position: center center;
}