<bc-header image="/assets/messages.png" shade="0.4" relativeHeight="0" absoluteHeight="220">
  <h2>Edit Sermons</h2>
</bc-header>
<main>
  <section>
    <div class="content">
      <p>
        Change the title of the series, upload an image, and modify sermons.
      </p>
    </div>
  </section>

  <section class="white">
    <form *ngIf="sermons">
      
      <h4>Add Another Sermon</h4>

      <div class="row">
        <mat-form-field>
          <input matInput #newSermonDate type="date" name="new_sermon_date" placeholder="Date of Service">
        </mat-form-field>
        <button class="add" mat-mini-fab (click)="addSermon(newSermonDate.value)" [disabled]="!newSermonDate.value">
          <mat-icon>add</mat-icon>
        </button>
      </div>

      <h4>Sermons</h4>

      <mat-accordion>
        <mat-expansion-panel *ngFor="let s of sermons; let idx = index;">
          <mat-expansion-panel-header>
            <mat-panel-title>{{s.date}}</mat-panel-title>
            <mat-panel-description>{{s.title}}</mat-panel-description>
          </mat-expansion-panel-header>

          <mat-form-field>
            <input matInput [name]="'sermon_title_' + idx" [(ngModel)]="s.title" placeholder="Title">
          </mat-form-field>
          <mat-form-field>
            <input matInput [name]="'sermon_series_' + idx" [(ngModel)]="s.series" placeholder="Series">
          </mat-form-field>
          <mat-form-field>
            <input matInput [name]="'sermon_speaker_' + idx" [(ngModel)]="s.speaker" placeholder="Speaker">
          </mat-form-field>
          <mat-form-field>
            <textarea matInput [name]="'sermon_description_' + idx" [(ngModel)]="s.description" placeholder="Description"></textarea>
          </mat-form-field>
          <mat-form-field>
            <input matInput [name]="'sermon_tags_' + idx" [(ngModel)]="s.tags" placeholder="Tags (comma separated)">
          </mat-form-field>

          <div class="services">
            <div class="service" *ngFor="let ws of s.services; let ws_idx = index;">
              <mat-form-field>
                <input matInput [name]="'sermon_start_' + idx + ws_idx" type="time" [(ngModel)]="ws.start" name="start time" placeholder="Start Time">
              </mat-form-field>
              <mat-form-field>
                <input matInput [name]="'sermon_identifier_' + idx + ws_idx" [(ngModel)]="ws.identifier" placeholder="Identifier">
              </mat-form-field>
              <mat-form-field>
                <input matInput [name]="'sermon_youtube_' + idx + ws_idx" [(ngModel)]="ws.youtube" placeholder="Youtube ID">
              </mat-form-field>
            </div>
          </div>

          <div class="command-row">
            <button mat-mini-fab class="add" (click)="saveSermon(s)">
              <mat-icon>save</mat-icon>
            </button>
            <button mat-mini-fab (click)="removeSermon(s.date)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </mat-expansion-panel>
      </mat-accordion>

      <mat-paginator
        [length]="pager.length"
        [pageSize]="pager.itemsPerPage"
        [pageSizeOptions]="[5, 10, 25]"
        (page)="pager.update($event)"
      ></mat-paginator>
    </form>
  </section>

</main>
