<bc-header image="/assets/giving/giving2-e1443270113333.jpg" shade="0.4" relativeHeight="0.4">
  <h1>OUR STORY</h1>
</bc-header>
<main>
  <section>
    <div class="content">
      <p>
        Bolingbrook Church is passionate about helping those far from God to become fully committed Christ-centered disciples. This
        is more than just lip-service. We center every- thing we do around helping people understand exactly who Jesus was,
        what he was talking about nearly two thousand years ago, and what that means for their lives today. Our hope is that
        as they begin to understand his words, they begin to live it out in the everyday. We want them to be inspired to
        connect to other people who are trying to do the same, to grow in their passion for Jesus and the people He’s called
        them to serve, and then to invite those around them on that same journey.
      </p>
    </div>
  </section>

  <section class="white">
    <div class="content">
      <h2>MISSION</h2>
      <p>
        Bolingbrook Church is founded on the belief that the church exists to continue the work of Jesus Christ in our world. While
        Jesus was on earth, He preached the good news to the poor, freed the oppressed, confronted the evils in our world,
        and removed any obstacle that would keep people from living fully as God intended. Jesus demonstrated a passionate
        love for outsiders; He gave them unlimited access to God’s transforming love. In the same manner, we believe that
        the church ought to be a living, loving, growing community that brings healing to our world. This conviction drives
        our purpose. Simply put:
      </p>

      <p>
        <b>WE EXIST TO DEVELOP CHRIST-LIKE DISCIPLES OF ALL AGES &amp; PEOPLES</b>
      </p>
    </div>
  </section>

  <section>
    <div class="content">
      <h2>VISION</h2>
      <p class="center">
        Creating Spaces for the people God misses the most.
      </p>

      <p>
        When you are finally at the point where you are trying to understand God and what He has planned for your life — it should
        be easy, not hard. At Bolingbrook Church we are hyper-focused on the people God misses the most, those who are far
        from God yet wanting to come near. For their sake, we have done our best to keep church simple. We seek to serve
        those who are looking to begin exploring who God is and what Jesus has done for them. Our goal is that as they draw
        towards Christ, they catch the vision and begin inviting others to embark on the same journey they are partaking
        in. In order to facilitate this process, we’ve had to be incredibly intentional. This means rather than provide people
        a plethora of programs to choose from, we have three disciple-making spaces that serve as intentional Jesus-Centered
        communities that facilitate genuine relationships and foster authentic spiritual growth. This is not a one-size-fits-all
        approach, rather we are seeking to engage each person on their journey right where they are to move them along in
        a fluid disciple-making process.
      </p>
    </div>
  </section>
  
  <section class="white">
    <div class="content">
      <h2>INVITE. CONNECT. GROW.</h2>
      <p>
        <b>Invite</b> - Our Invite spaces are corporate worship gatherings geared at helping people encounter a loving God
        who has been yearning for relationship with them.
      </p>
      <p>
        <b>Connect</b> - Our Connect spaces are intimate Jesus Communities that facilitate genuine relationships.
      </p>
      <p>
        <b>Grow</b> - Our Grow Spaces are more intimate, even smaller groups who are committed to fostering in one another
        authentic spiritual growth.
      </p>
      <p>
        When we talk of these disciple-making spaces, we are stating that as a result of participating in our spaces, people will
        come to entrust their lives to Jesus and his teachings, connect through intentional Jesus communities, serve the
        neighborhood/world around them, give their time and resources to the church, and continually invite others into relationship
        with Jesus Christ.
      </p>
      <p>
        As a result, people will become freer beings, liberated to live life in abundance as God intended humanity to live it. Enabled
        by the Holy Spirit, we wholeheartedly believe that those who venture in the path of discipleship will become more
        loving, more joyful, more peaceable, more kind, having more patience, having more goodness, being more gentle, and
        becoming more self-controlled. Thereby, fulfilling, the mission of the church to develop Christ-like disciples of
        all ages and peoples.
      </p>
    </div>
  </section>

  <section>
      <div class="content values">
        <h2>VALUES</h2>
        <p>
          Every community has some inherent values that serve as core behavioral traits for those
          who choose to join in. At Bolingbrook Church, we have identified five core values that
          we call all those who commit to our community to embrace and eventually live by.
        </p>
        
        <h4>Prayerful</h4>
        <p class="value">
          We include prayer in everything we do, knowing that it is our most powerful vehicle through which we can directly connect
          to God. Through prayer, we give God unlimited access to our lives in order to accomplish His sovereign will through
          us.
        </p>

        <h4>Gracious Flexibility</h4>
        <p class="value">
          We are willing to change or modify established human traditions and embrace biblical truths and practices in order to fully
          demonstrate God’s eternal love.
        </p>

        <h4>Church of One</h4>
        <p class="value">
          We embrace, celebrate, and invite a multiplicity of cultures, ethnicities, generations, and various social economic classes
          to come together as one family, unified to fulfill a grander God-given vision to create spaces for those who find
          themselves far from God.
        </p>

        <h4>Authentic</h4>
        <p class="value">
          We foster authenticity by modeling vulnerability in leadership, creating a culture of acceptance, cultivating genuine compassion
          and empathy to those around us, in order to display the depths of God’s love.
        </p>

        <h4>Intentional Excellence</h4>
        <p class="value">
          We are committed to using our strengths, talents, and thoughtful planning to create a culture that reflects the wonder of
          God.
        </p>

        <a mat-raised-button class="center" href="http://www.adventist.org/beliefs/" (click)="believe()">Our Beliefs</a>
      </div>
    </section>
</main>
