<bc-header></bc-header>
<main>
  <section class="white">
    <form>

      <h3>Get Connected</h3>

      <div class="form-group">
        <h4>Step 1: Tell us about yourself</h4>

        <mat-form-field>
          <input matInput
                required
                name="first_name"
                autocomplete="given-name"
                [(ngModel)]="request.first_name"
                placeholder="First Name" >
        </mat-form-field>

        <mat-form-field>
          <input matInput
                required
                name="last_name"
                autocomplete="family-name"
                [(ngModel)]="request.last_name"
                placeholder="Last Name" >
        </mat-form-field>

        <mat-form-field>
          <input matInput
                name="address"
                autocomplete="address-line1"
                [(ngModel)]="request.address"
                placeholder="Address" >
        </mat-form-field>


        <mat-form-field>
          <input matInput
                name="city"
                autocomplete="address-level2"
                [(ngModel)]="request.city"
                placeholder="City" >
        </mat-form-field>

        <mat-form-field>
          <mat-select name="state"
                      aria-autocomplete="address-level1"
                      [(ngModel)]="request.state"
                      placeholder="State">
            <mat-option *ngFor="let state of states" [value]="state">{{ state }}</mat-option>
          </mat-select>
      </mat-form-field>

        <mat-form-field>
          <input matInput
                type="number"
                min="10000"
                max="99999"
                name="zipcode"
                autocomplete="postal-code"
                [(ngModel)]="request.zipcode"
                placeholder="Zipcode" >
        </mat-form-field>

        <mat-form-field>
          <input matInput
                type="date"
                name="birthday"
                autocomplete="bday"
                [(ngModel)]="request.birthday"
                placeholder="Birthday" >
        </mat-form-field>

        <mat-form-field>
          <input matInput
                required
                name="phone"
                type="tel"
                autocomplete="tel-national"
                [(ngModel)]="request.phone"
                placeholder="Phone Number" >
        </mat-form-field>

        <mat-form-field>
          <input matInput
                required
                name="email"
                type="email"
                autocomplete="email"
                [(ngModel)]="request.email"
                placeholder="Email Address" >
        </mat-form-field>
      </div>

      <div class="form-group">
        <h4>Step 2. Get Involved</h4>

        <mat-checkbox *ngFor="let key of typeKeys"
                    [name]="'interests_' + key"
                    [(ngModel)]="interests[key]">{{ types[key] }}</mat-checkbox>

        <div class="submit-wrapper">
          <bc-observable-button (bcOnClick)="submit()" [disabled]="!request.valid">
            Submit
          </bc-observable-button>
        </div>
      </div>

    </form>
  </section>
</main>
