<bc-header image="/assets/giving/givingpic.jpg" shade="0.4" relativeHeight="0.4">
  <h2>Giving</h2>
</bc-header>
<main>
  <section>
    <div class="content">
      <h2 class="giving-header">WAYS TO GIVE</h2>

      <div class="giving-list">

        <a class="giving-list-item" href="/giving" (click)="showEnvelope()">
          <button mat-fab>
            <mat-icon>mail_icon</mat-icon>
          </button>
          <h4>ENVELOPE</h4>
          <span>cash or check</span>
        </a>

        <a class="giving-list-item" href="https://www.adventistgiving.org/?OrgID=ANF4BV" (click)="give('adventist')">
          <button mat-fab>
            <mat-icon>computer</mat-icon>
          </button>
          <h4>ONLINE</h4>
          <span>Adventist Giving</span>
        </a>

        <a class="giving-list-item" href="tel:6302464885">
          <button mat-fab>
            <mat-icon>phone_iphone</mat-icon>
          </button>
          <h4>TEXT AMOUNT TO</h4>
          <span>630-246-4885</span>
        </a>

      </div>

    </div>
  </section>

  <section class="white">
    <div class="content">
      <h3>Your Generosity is Making a Difference.</h3>
      
      <p>
        We know your giving changes lives. The people God misses the most are constantly being reached because of your incredible
        generosity. At Bolingbrook Church, we want to make acting on your generosity rather simple.
      </p>
      
      <h3>Tithing is the beginning of giving</h3>
      
      <p>
        The Bible talks of tithing as the beginning point for giving. The word tithe literally means a tenth, that is 10% of our
        income. When we give the first 10% of our income to the church, we put God first in our lives and we help spread
        the story of His love. In fact, tithing is more than just giving something to God, it is returning to God what you
        believe He provided for you in the first place. Tithing is an act of faith, a gesture of gratitude that responds
        to God’s faithfulness in your life.
      </p>
      <p>
        <b>
          Your tithe helps support the vision of the Illinois conference of Seventh-Day Adventists to grow healthy disciple-making
          churches all over Illinois. These funds go to support the conference mission and it’s pastors.
        </b>
      </p>

      <h3>Your Offering Helps Create Spaces for the People God misses the Most.</h3>
      
      <p>
        When your generosity extends beyond tithing, that is called an offering. Offering is going above and beyond What God has
        asked of us, and is the continuation of our expression of faithfulness. Offering is an expression of our gratitude,
        trust, and worship to Him who has given us all. Your offering is a way of saying thank you to God, and a sign of
        your commitment to get involved with what God is doing in the world around you. It’s one of the many ways you declare
        that you care about what God is doing in the world, and you want to partner with Him to see lives changed for His
        glory. Your offering to the Bolingbrook Church helps fuel change in the lives of so many people who are served by
        our spaces on a weekly basis. Your offering makes our vision possible to impact the lives of those God misses the
        most one space at a time.
      </p>

      <p>
        <b>
          Your offering remains at the Bolingbrook Church and helps fund our current spaces, our staff, and continues to fuel our
          vision to develop more spaces throughout the Chicago-land area that seek to reach the people God misses the most.
        </b>
      </p>
    </div>
  </section>
</main>


<div class="envelope" [class.visible]="envelopeShown" (click)="hideEnvelope()">
  <div class="content">
    <button mat-mini-fab (click)="hideEnvelope()">
      <mat-icon>close</mat-icon>
    </button>
    <h3>Mail</h3>
    <p>
      You can always mail a check to our church offices:
    </p>
    <p class="address">
      Bolingbrook Church
      301 E Boughton Rd
      Bolingbrook IL 60440
    </p>
  </div>
</div>
