<bc-header [video]="sources" image="/assets/messages.png" shade="0.4">

  <button *ngIf="live" class="live" mat-raised-button routerLink="/sermons/live">
    <mat-icon>live_tv</mat-icon> WATCH LIVE SERMON
  </button>

  <h2     *ngIf="!live && !!sermon">Latest Sermon</h2>
  <button *ngIf="!live && !!sermon" mat-raised-button [routerLink]="['/sermons', sermon.date]">
    {{sermon.series}}
  </button>

  <a *ngIf="!live" mat-button routerLink="/sermons">More Sermons</a>

</bc-header>

<main>
  <section class="join">
    <div class="content">
      <h3>We're Moving</h3>
      <div class="time">March 3, 2018</div>
      <div class="location">301 E Boughton Rd, Bolingbrook, IL 60440</div>

      <h4>Transition Schedule</h4>
      <ul>
        <li>February 17th - Noon Service @ 1251 Windham Pkwy, Romeoville, IL 60446</li>
        <li>February 24th - Friends and Family Sabbath</li>
        <li>February 3rd - New Location</li>
      </ul>

      <h3>New Schedule</h3>
      <h4>Worship With Us</h4>
      <div class="time">Every Saturday</div>
      <ul>
        <li>10:30 AM &amp; 12:30 PM - Services</li>
        <li>10:00 AM &amp; 1:45 PM - Sabath Café</li>
        <li>10:30 AM &amp; 12:30 PM - Discipletown Kids (ages 0-11)</li>
      </ul>
      <div class="location">301 E Boughton Rd, Bolingbrook, IL 60440</div>

      <h4>Mid-week Experience</h4>
      <div class="time">Every Wednesday</div>
      <ul>
        <li>6:00 PM - Prayer</li>
        <li>7:00 PM - Bible Study</li>
      </ul>
      <div class="location">301 E Boughton Rd, Bolingbrook, IL 60440</div>

      <h4>Student Connections (ages 12 - 18)</h4>
      <div class="time">Every Friday</div>
      <div class="time">7:00 PM - 9:00 PM</div>
      <div class="location">301 E Boughton Rd, Bolingbrook, IL 60440</div>
    </div>
  </section>

  <section class="white">
    <div class="content">
      <h3 class="black">CREATING SPACES FOR THE PEOPLE GOD MISSES THE MOST</h3>
      <p>
        The church we see goes far beyond the confines of traditional church walls, but one that utilizes a multitude of spaces to
        facilitate genuine relationships and foster spiritual growth. When we say spaces, we don’t just mean buildings or
        corporate gatherings; but rather intentional Jesus-centered communities that seek to create opportunities for the
        people God misses the most to be drawn to him and live out the rest of their lives for Him.
      </p>

      <p>
        For us, the people God misses the most are those who are far from having their own personal relationship with God. Whether
        that means they gave up on church, or have never really explored God for themselves, we believe that those are the
        people God misses so deeply. So, we seek to create a multiplicity of Jesus-centered-highly-relational spaces all
        over the Chicagoland area, and eventually all over the world that make it possible to reach the ones God misses the
        most!
      </p>

      <p>
        Whether you’ve experienced one of our spaces before or are looking to explore for the first time, we hope you find an embracing
        multicultural environment where you feel free to inquire of God, and explore what Jesus teaches as you walk at your
        own pace nearer to Him. Our goal is to help you belong, so that eventually you can become inspired to believe Jesus’
        plan for your life and begin engaging the world as Jesus sees it.
      </p>
    </div>
  </section>
</main>
