<sda-header [video]="sources" image="/assets/messages.png" shade="0.4">

  <button *ngIf="live" class="live" md-raised-button routerLink="/sermons/live">
    <md-icon>live_tv</md-icon> WATCH LIVE SERMON
  </button>

  <h3     *ngIf="!live && !!sermon">Latest Sermon</h3>
  <button *ngIf="!live && !!sermon" md-raised-button [routerLink]="['/sermons', sermon.date]">
    {{sermon.name}}
  </button>

  <a *ngIf="!live" md-button routerLink="/sermons">More Sermons</a>

</sda-header>

<main>
  <section class="white" *ngIf="!streaming">
    <div class="content">
      <h1>
        Creating Spaces for the People God Misses the Most
      </h1>
      
      <p>
        The church we see goes far beyond the confines of church walls, but one that utilizes a multitude of spaces to create genuine
        relationships and facilitate growth. When we say spaces, we mean just that: houses of worship, schools, community centers,
        concert halls, art &amp; music centers you name it. We desire to create a multiplicity of spaces all over the world
        that make it possible for us to reach the ones God misses the most! For us, the people God misses the most are those
        who are far from having their own personal relationship with God.
      </p>
      <p>
        Whether that means they gave up on church, or have never really explored God for themselves, we believe that those are the
        people God misses so deeply. So, we seek to provide an embracing multicultural community where the people God misses
        the most can freely inquire of God, and explore what Jesus teaches as they walk at their own pace nearer to Him. We
        believe that once people feel they belong, they can become inspired to believe Jesus’ plan for their life and begin
        engaging the world as Jesus sees it.
      </p>
    </div>
  </section>
</main>
