bc-header {
  h2 {
    margin: 0;
  }

  button {
    color: black;
    font-size: 18px;
    padding: 8px 14px;

    &.live {
      background: #ce3535;
      color: white;

      mat-icon {
        line-height: 18px;
        margin-right: 8px;
      }
    }
  }
}

h3.black {
  color: black;
}

main section.join div.content {
  color: black;
  margin-bottom: 15px;
  
  h4 {
    column-width: 800px;
  }

  div.time, div.location {
    margin: 5px 0;
  }
}