<bc-header [video]="sources" image="/assets/messages.png" shade="0.4">

  <button *ngIf="live" class="live" md-raised-button routerLink="/sermons/live">
    <md-icon>live_tv</md-icon> WATCH LIVE SERMON
  </button>

  <h2     *ngIf="!live && !!sermon">Latest Sermon</h2>
  <button *ngIf="!live && !!sermon" md-raised-button [routerLink]="['/sermons', sermon.date]">
    {{sermon.series}}
  </button>

  <a *ngIf="!live" md-button routerLink="/sermons">More Sermons</a>

</bc-header>

<main>
  <section class="join">
    <div class="content">
      <h4>Worship With Us</h4>
      <div class="time">Every Saturday at 12:00 PM</div>
      <div class="location">1251 Windham Pkwy, Romeoville, IL 60446</div>

      <h4>Bible Study</h4>
      <div class="time">Every Wednesday at 7:00 PM</div>
      <div class="location">301 E Boughton Rd, Bolingbrook, IL 60440</div>

      <h4>Sabbath School</h4>
      <div class="time">Every Saturday</div>
      <ul>
        <li>10:45 AM - Adult Growth Group</li>
        <li>10:45 AM - Discipletown Growth Groups (ages 0-11)</li>
        <li>11:00 AM - Student Connections Middle School &amp; High School Experience (ages 12-18)</li>
        <li>12:00 PM - Kids Experience (ages 5-9)</li>
      </ul>
      <div class="location">1251 Windham Pkwy, Romeoville, IL 60446</div>
      
    </div>
  </section>

  <section class="white">
    <div class="content">
      <h3 class="black">CREATING SPACES FOR THE PEOPLE GOD MISSES THE MOST</h3>
      <p>
        The church we see goes far beyond the confines of traditional church walls, but one that utilizes a multitude of spaces to
        facilitate genuine relationships and foster spiritual growth. When we say spaces, we don’t just mean buildings or
        corporate gatherings; but rather intentional Jesus-centered communities that seek to create opportunities for the
        people God misses the most to be drawn to him and live out the rest of their lives for Him.
      </p>

      <p>
        For us, the people God misses the most are those who are far from having their own personal relationship with God. Whether
        that means they gave up on church, or have never really explored God for themselves, we believe that those are the
        people God misses so deeply. So, we seek to create a multiplicity of Jesus-centered-highly-relational spaces all
        over the Chicagoland area, and eventually all over the world that make it possible to reach the ones God misses the
        most!
      </p>

      <p>
        Whether you’ve experienced one of our spaces before or are looking to explore for the first time, we hope you find an embracing
        multicultural environment where you feel free to inquire of God, and explore what Jesus teaches as you walk at your
        own pace nearer to Him. Our goal is to help you belong, so that eventually you can become inspired to believe Jesus’
        plan for your life and begin engaging the world as Jesus sees it.
      </p>
    </div>
  </section>
</main>
