<bc-header></bc-header>
<div class="background">
  <img src="https://df4tq599m6mt0.cloudfront.net/attachments/168aa05adf1ae1b970cd0f3151aab774e01be528/store/fit/500/500/05e49cc8cd5acd85932b6c95bf55ea3359ea1aa1c69fca34712fdd615339/shipwrecked-vbs-logo-LoRes-RGB.png">

  <h2 class="title">Bolingbrook Church's 2018 VBS</h2>
  <p class="date">
    July 16, 2018 — July 19, 2018<br/>
    05:45 pm — 08:30 pm (CDT)
  </p>
  <p class="description">
    Venture on to an uncharted island this summer for a fun filled faith building experience!
  </p>

  <a mat-raised-button href="https://vbspro.events/p/events/407650">Learn More</a>
</div>