@import '../../atoms/breaks';
@import '../../atoms/colors';

main section {

  p.subtitle {
    color: $color-black;
    flex: 100%;
    min-width: 0;
    max-width: none;
    text-align: center;
  }

  div.row {
    margin: 35px;
  }

  a[md-raised-button] {
    margin: 6px;
    min-width: 160px;
  }

  &.madness {
    background-image: url("/assets/march-madness/chalkboard.jpg");
    background-repeat: repeat;
    color: white;

    h1 {
      color: white;
      font-family: 'Chalkduster', sans-serif;
    }

    img.wide {
      width: 80vw;
      height: 55vw;
      max-height: 300px;
      object-fit: contain;

      @media only screen and (min-width: $break-small) {
        margin-top: 30px;
      }
    }

    div.center-flex {
      display: flex;
      justify-content: center;
    }

    div.countdown {
      margin-top: 32px;
      h3, h4 {
        color: white;
      }
    }

    div.navmap {
      margin-top: 32px;
      img {
        cursor: pointer;
      }
    }

    div.classic {
      height: 0;
      overflow: hidden;
    }
  }
}