<main>
  <section class="white">
    <hero image="/assets/messages.png">
      Messages
    </hero>

    <div class="row left">
      <a md-raised-button
         [routerLink]="[ '/messages' ]">
         <md-icon>arrow_back</md-icon> Back to Messages
      </a>
    </div>

    <div class="inner">
      <router-outlet></router-outlet>
    </div>

    <md-nav-list>
      <a *ngFor="let sermon of sermons; let i = index;"
         md-list-item
         [routerLink]="[ '/messages', seriesId, i ]">
         <md-icon md-list-avatar>play_arrow</md-icon>
         <div md-line class="name">{{sermon.name}}</div>
         <div md-line class="date">{{sermon.date | date:'longDate'}}</div>
      </a>
    </md-nav-list>
  </section>
</main>