@import '../atoms/colors';

div.footer {
  position: relative;

  .notice {
    padding: 10px 10%;
    background: $color-grey-100;
    color: $color-grey-500;
    font-size: 14px;
  }

  div.content {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 13px 10% 40px;
    background: $color-grey-400;
    color: $color-grey-100;

    section.social {
      flex: 100%;
      text-align: center;
      margin: 35px 0 0;

      a {
        margin: 0 10px;
        font-size: 28px;
        line-height: 40px;
        text-decoration: none;
        color: $color-grey-100;
      }
    }

    section.links {
      flex: 1 1 auto;
      min-width: 200px;
      max-width: 200px;
      margin: 10px;
      margin-right: 17px;
      color: $color-grey-100;


      h4 {
        padding: 0 16px;
      }

      ul {
        list-style: none;
        margin: 0;
        padding: 0;
      }

      a.mat-button {
        font-size: 20px;
        line-height: 40px;
        width: 100%;
        text-align: left;
        text-decoration: none;
        color: $color-grey-100;
      }
    }

  }

  div.contact {
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 20px;
    background: $color-grey-100;
    color: $color-grey-500;
    font-size: 16px;
    line-height: 23px;

    md-icon.mat-icon {
      font-size: 16px;
      height: 16px;
    }

    p {
      margin: 0 0 5px;
      text-align: center;
    }

    a {
      text-decoration: none;
      color: $color-grey-500;
    }
  }

  div.version {
    position: absolute;
    right: 5px;
    bottom: 5px;
    color: $color-grey-500;
    font-size: 13px;
  }
}