<div class="footer">
  <div class="notice">
    Our live stream begins at 12pm Central Time on Saturdays.
  </div>
  <div class="content">

    <section class="social">
      <a href="http://www.twitter.com/bolingbrooksda"><span class="socicon-twitter"></span></a>
      <a href="http://instagram.com/bolingbrookchurch"><span class="socicon-instagram"></span></a>
      <a href="https://www.facebook.com/bolingbrooksda"><span class="socicon-facebook"></span></a>
      <a href="https://www.youtube.com/channel/UCLkqCaFc_-puBhVEGLxCnbw"><span class="socicon-youtube"></span></a>
    </section>

    <section class="links">
      <h3>About</h3>

      <ul>
        <li><a md-button routerLink="/about">Our Story</a></li>
        <li><a md-button routerLink="/locations">Locations</a></li>
        <li><a md-button routerLink="/sermons">Sermons</a></li>
        <li><a md-button routerLink="/connect">Get Connected</a></li>
      </ul>
    </section>

    <section class="links">
      <h3>Get Involved</h3>

      <ul>
        <li><a md-button routerLink="/giving">Giving</a></li>
        <li><a md-button routerLink="/events">Events</a></li>
        <li><a md-button routerLink="/serve">Serve</a></li>
        <li><a md-button routerLink="/newsletter">Newsletter</a></li>
      </ul>
    </section>
  </div>

  <div class="contact">
    <p><md-icon>pin_drop</md-icon> 301 E Boughton Rd, Bolingbrook IL, 60440</p>
    <p><a href="tel:630.739.1038"><md-icon>local_phone</md-icon> 630.739.1038</a></p>
    <p class="copyright">&copy; Bolingbrook Church 2017</p>
  </div>

  <div class="version">
    v{{version}}
  </div>
</div>