@import '../atoms/colors';

div.footer {

  .notice {
    padding: 5px 10%;
    background: $color-grey-100;
    color: $color-grey-200;
    font-size: 14px;
  }

  div.content {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 13px 10% 40px;
    background: $color-grey-000;
    position: relative;

    div.icon {
      flex: 100%;
      padding-bottom: 17px;
      img {
        max-width: 171px;
      }
    }

    section {
      flex: 1 1 auto;
      min-width: 140px;
      max-width: 220px;
      padding-top: 10px;
      font-size: 11px;
      margin-right: 17px;

      h6 {
        font-size: 14px;
        font-weight: bold;
        margin: 1em 0;
      }

      p {
        margin-bottom: 0px;
      }

      a {
        color: $color-white;

        &.social {
          text-decoration: none;
          img {
            width: 20px;
            height: 20px;
          }
        }
      }
    }

    .version {
      position: absolute;
      right: 5px;
      bottom: 5px;
      color: $color-grey-200;
      font-size: 13px;
    }
  }
}