<header>
  <a class="logo" [routerLink]="['/']">
    <img src="/assets/logo-white-large.png" alt="Home">
    <img class="text" src="/assets/logo-white-large-text.png">
  </a>
  <nav class="quick-links">
    <a mat-button routerLink="/about">Our Story</a>
    <a mat-button routerLink="/connect">Connect</a>
    <a mat-button routerLink="/messages">Sermons</a>
    <a mat-button routerLink="/giving">Giving</a>
    <a mat-button routerLink="/locations">Locations</a>
  </nav>
  <div class="full-menu">
    <bc-hamburger [(active)]="opened"></bc-hamburger>
  </div>
</header>

<nav class="menu" [class.open]="opened" (click)="opened = false">
  <div class="drop-content">
    <a class="bold" routerLink="/">Home</a>
    <a class="bold" routerLink="/about">Our Story</a>
    <a class="bold" routerLink="/connect">Get Connected</a>
    <a class="bold" routerLink="/sermons">Sermons</a>
    <a class="bold" routerLink="/giving">Giving</a>
    <a class="bold" routerLink="/locations">Locations</a>

    <div class="space"></div>

    <a class="light" routerLink="/serve">Serve</a>
    <a class="light" routerLink="/newsletter">Newsletter Sign-up</a>
    <a class="light" routerLink="/friends-family-sabbath">Friends &amp; Family Sabbath</a>
    <a class="light" routerLink="/events">Events</a>
    <a class="light" routerLink="/vbs">VBS</a>
  </div>
</nav>

<div class="media-asset" [style.height]="assetHeight">
  <video *ngIf="!mobile && video" autoplay loop>
    <source *ngFor="let source of video" [src]="source.url" [type]="source.type" />
  </video>
  <div *ngIf="mobile || image" class="mobile-bg" [style.background-image]="'url('+image+')'"></div>

  <div class="content" [style.background-color]="'rgba(0,0,0,' + shade + ')'">
    <ng-content></ng-content>
  </div>
</div>