@import '../atoms/colors';

header {
  display: flex;
  align-items: center;
  margin: 7px 13px;
  
  a {
    flex: 1;
    color: $color-white;

    img {
      max-width: 100%;
      max-height: 100%;

      &.logo {
        max-height: 80px;
      }
    }

    &.menu {
      display: flex;
      align-items: center;
      max-width: 80px;
      margin-left: 30px;
      cursor: pointer;

      md-icon {
        margin-left: 5px;
      }

    }
  }

  div.dropdown {
    position: relative;

    .drop-content {
      display: none;
      position: absolute;
      right: 10px;
      margin-top: 10px;
      padding: 7px 0;
      background-color: $color-grey-100;
      min-width: 210px;
      box-shadow: 0px 0px 7px 8px $color-grey-400-fade;
      z-index: 1000;

      &.open {
        display: block;
      }

      a {
        display: flex;
        align-items: center;
        text-decoration: none;
        padding: 3px 15px;
        transition: background-color 500ms linear;

        md-icon {
          margin-right: 11px;
        }

        &:hover {
          background-color: $color-grey-200;
        }
      }
    }
  }
}
