@import url('https://fonts.googleapis.com/css?family=Material+Icons|Montserrat:ital,wght@0,500;0,700;1,500;1,700&display=swap');

@font-face {
  font-family: 'Socicon';
  src: url('assets/fonts/Socicon.eot');
  src: url('assets/fonts/Socicon.eot#iefix') format('embedded-opentype'),
       url('assets/fonts/Socicon.woff2?xvgs9q') format('woff2'),
       url('assets/fonts/Socicon.ttf?xvgs9q') format('truetype'),
       url('assets/fonts/Socicon.woff?xvgs9q') format('woff'),
       url('assets/fonts/Socicon.svg?xvgs9q#Socicon') format('svg');
  font-weight: normal;
  font-style: normal;
}

body, html {
  margin: 0;
}
