@import '~@angular/material/theming';
@import './app/components/atoms/colors';
@import url('https://fonts.googleapis.com/css?family=Roboto:400|Roboto+Condensed:300,400,700');

// Include the base styles for Angular Material core. We include this here so that you only
// have to load a single css file for Angular Material in your app.
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.
$sda-app-primary: mat-palette($mat-indigo);
$sda-app-accent:  mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$sda-app-warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$sda-app-theme:   mat-light-theme($sda-app-primary, $sda-app-accent, $sda-app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($sda-app-theme);

div.cdk-overlay-pane {
  color: black;
}
