nav.bc-menu {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  padding-top: 98px;
  z-index: 800;
  background: rgba($color-grey-000, .8);
  
  width: 300px;
  @media only screen and (max-width: 449px) {
    width: 100%;
  }

  display: none;
  &__open {
    display: block;
  }

  .drop-content {
    display: flex;
    flex-flow: column;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-behavior: auto;

    a {
      color: white;
      text-decoration: none;
      padding: 10px 25px;
      transition: background-color 500ms linear;

      &.bold {
        font-size: 20px;
      }

      &.light {
        color: $color-grey-500;
        padding: 6px 25px;
        font-size: 18px;
        font-family: 'Roboto Condensed', sans-serif;
        font-weight: 300;
      }

      mat-icon {
        margin-right: 11px;
      }

      &:hover {
        background-color: $color-grey-200;
      }
    }

    div.space {
      height: 20px;
    }
  }
}